{
    "version": "2018-05-29",
    "operation": "GetItem",
    "key": {
        "bidLineId": { "S": "$context.arguments.bidLineId" },
        "station": { "S": "$context.arguments.station" }
    }
}

